/*Common*/
*, *:before, *:after {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content ;
    align-content: start;
    font-weight: 500;
    font-size: 16px;
    color: #000000;
    padding: 0;
    margin: 0;
}
body hr{
    height: 2px;
    background-colot: #EEEEEE;
    border: 0;
    max-width: 1158px;
    margin: 0 auto;
}
/*Common END*/


/*Header*/
body header {
    display: flex;
    flex-direction: row;
    background-color: #EEEEEE;
}
body header nav{
    display: flex;
    flex-direction: row;
}
body header nav ul {
    display: flex;
    flex-direction: row;
}
header ul {
    list-style: none;
}

header ul li a{
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
}

header ul li a.active{
    padding-bottom: 13px;
    border-bottom: 2px solid #FB565A;
}

header ul li a:hover{
    color: #FB565A;;
}

header ul li a:active{
    mix-blend-mode: normal;
    opacity: 0.3;
}

header .page-header__inner .site-menu{
    width: 438px;
    justify-content: space-between;
}

header .page-header__inner .basket-block li a img{
    margin-right: 25px;
}

.page-header__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 49px;
}
.page-header{
    display: block;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 140px;
    padding-left: 140px;
}
/*Header END*/


/*Our services*/
.sec-our-services {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 140px;
    padding-right: 200px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sec-our-services ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sec-our-services ul li:before{
    width: 300px;
    height: 146px;
    content: "";
    display: block;
}
.sec-our-services ul li{
    width: 300px;
}
.sec-our-services ul li h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}
.sec-our-services ul li p{

    margin-bottom: 32px;
}
.apps:before{
    background-image: url(../img/illustration-3.png);
}
.presentations:before{
    background-image: url(../img/illustration-2.png);
}
.web-sites:before{
    background-image: url(../img/illustration-1.png);
}
/*Our services END*/

/*Buttons*/
.btn{
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: inherit;
    line-height: 18px;
    font-style: normal;
    color: #FFFFFF;
}
.btn-submit{
    width: 260px;
    border-radius: 3px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 50px;
}
.btn-red{
    background-color: #FB565A;
}
.btn-red:hover{
    background-color: #E74246;
}
.btn-red:active{
    background: #D7373B;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-green{
    background-color: #00CA74;
}
.btn-green:hover{
    background-color: #00BC6C;
}
.btn-green:active{
    background: #00AA62;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-yellow{
    background-color: #EFC849;
}
.btn-yellow:hover{
    background-color: #EAB534;
}
.btn-yellow:active{
    background: #E5A722;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-grey{
    background-color: #EEEEEE;
}
.btn-grey:hover{
    background: #DFDFDF;
}
.btn-grey:active{
    background: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-right-us{
    width: 219px;
}
.btn-price{
    width: 200px;
}
.btn-know-more{
    display: block;
    width: 240px;
    line-height: 50px;
    text-decoration: none;
}
/*Buttons END*/

/*Projects-links*/
.sec-projects-links{
    padding-left: 172px;
    padding-right: 183px;
    padding-top: 46px;
    padding-bottom: 44px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
    margin-bottom: 80px;
}
.sec-projects-links ul{
    max-width: 1085px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sec-projects-links ul li img{
     opacity: 0.2;
}
.sec-projects-links ul li img:hover{
    opacity: 1;
}
.sec-projects-links ul li img:active{
    opacity: 0.1;
}
.sec-projects-links ul .separator{
    display: block;
    width: 2px;
    height: 52px;
    background-color: #EEEEEE;
}
/*Projects-links END*/

/*What we are*/
.sec-what-we-are{
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    padding-right: 126px;
    padding-top: 39px;
    padding-bottom: 73px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sec-what-we-are .right-block-info{
    width: 374px;
}
.sec-what-we-are .right-block-info ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.sec-what-we-are .right-block-info ul li span sup {
    font-size: 26px;
    line-height: 40px;
    color: #000000;
    font-weight: bold;
}
.sec-what-we-are .right-block-info ul li .percent{
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}
.sec-what-we-are .right-block-info ul li label{
    line-height: 18px;
    color: #283136;
    font-size: 16px;
}
.sec-what-we-are .right-block-info p {
    margin-top: 37px;
    color: #000000;
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 7px;
}
.sec-what-we-are .left-block-info h3{
    margin-bottom: 23px;
}
.sec-what-we-are .left-block-info ul{
    max-width: 431px;
    padding: 0;
}
.sec-what-we-are .left-block-info ul li {
    background: url('../img/Rectangle.png') no-repeat left;
    padding-left: 37px;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}
.sec-what-we-are .left-block-info h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 32px;
    width: 651px;
    height: 91px;
}
.sec-what-we-are .left-block-info p{
    font-size: 16px;
    line-height: 24px;
    color: #283136;
    margin-bottom: 40px;
    width: 646px;
    height: 49px;
}
/*What we are END*/

/*Main banner*/
.sec-main-banner{
    height: 431px;
    background-color: #EEEEEE;
}
.sec-main-banner .start-home__top{
    display: flex;
    max-width: 1157px;
    margin: auto;
}
.sec-main-banner .start-home__top .start-home__message{
    width: 397px;
    padding-top: 78px;
    padding-bottom: 80px;
}
.sec-main-banner .start-home__top .start-home__message h1{
    font-size: 55px;
    line-height: 55px;
    margin: 0;
}
.sec-main-banner .start-home__top .start-home__message p{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 38px;
}
/*Main banner END*/

/*map*/
.map-conteiner{
    width: 100%;
    height: 416px;
}
.sec-map {
    position: relative;
}
.sec-map .popup-map {
    top: 54px;
    left: 140px;
    position: absolute;
    width: 319px;
    height: 308px;
    background-color: #FFFFFF;
    font-size: 16px;
    padding-left: 50px;
    padding-top: 49px;
}

.sec-map .popup-map h3{
    font-size: 18px;
    line-height: 30px;
    color: #000000;
}
.sec-map .popup-map p{
    color: #666666;
    font-size: inherit;
    margin-top: 23px;
    margin-bottom: 37px;
}
/*map END*/


/*Footer*/
footer .page-footer__inner{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-right: 240px;
    padding-top: 68px;
    padding-bottom: 68px;
    justify-content: space-between;
}

footer .page-footer__inner .page-footer__inner_text{
    max-width: 660px;
}

footer .page-footer__inner .page-footer__inner_text h2{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0;
}

footer .page-footer__inner ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
}
footer .page-footer__inner ul li{
    width: 81px;
    height: 81px;
    margin-right: 9px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), #FFFFFF;
    border-radius: 50%;
}
footer .page-footer__inner ul li:hover{
    background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}
footer .page-footer__inner ul li:active{
    background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

footer .page-footer__inner ul .insta-icon{
    padding: 30px;
}
footer .page-footer__inner ul .vk-icon{
    padding: 33px 28px 33px 27px;
}
footer .page-footer__inner ul .fb-icon{
    padding: 31px 34px 28px 35px;
}
footer .page-footer__inner ul li a {
    position: absolute;
}
/*Footer END*/



/*Head title*/
.sec-head-title{
    background-color: #EEEEEE;
    padding-bottom: 108px;
    padding-top: 78px;
    text-align: center;
}
.sec-head-title h1{
    margin: 0;
    font-size: 55px;
    line-height: 55px;
}
/*Head title END*/

/*Catalog main part*/
.sec-main-part{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 140px;
    padding-left: 140px;
    display: flex;
    flex-direction: row;
    padding-bottom: 60px;
}

.sec-main-part aside{
    max-width: 260px;
    padding-top: 55px;
    height: 100%;
}
.sec-main-part section{
    max-width: 760px;
    width: 100%;
    margin-left: 140px ;
}

.sec-main-part section .projects-item-list .project-item{
    margin-bottom: 30px;
    position: relative;
}

.sec-main-part section .projects-item-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec-main-part section .projects-item-list .project-item:nth-child(odd) {
    margin-right: 40px;
}

.sec-main-part section .projects-item-list  .project-item .project-item-controls {
    height: 40px;
    background: #4D4D4D;
    opacity: 0.12;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.sec-main-part section .projects-item-list  .project-item .project-item-controls ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
}
.sec-main-part section .projects-item-list  .project-item .project-item-controls ul li a{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    margin-right: 9px;
    background-color: #FFFFFF;
}
.sec-main-part section .projects-item-list  .project-item.active .project-item-controls {
    opacity: 1;
}

.sec-main-part section .projects-item-list  li .project-item-hover-block {
    position: absolute;
    height: 231px;
    width: 360px;
    top: 391px;
    left: 0;
    padding-top: 26px;
    padding-bottom: 44px;
    background: #EEEEEE;
    text-align: center;
    display: none;
}

.sec-main-part section .projects-item-list  li .project-item-hover-block .project-item-hover-block-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sec-main-part section .projects-item-list  li .project-item-hover-block .project-item-hover-block-container a{
    margin:0;
    padding: 0;
    margin-bottom: 12px;
    text-decoration: none;
    color: #000000;
    font-weight: bold;
}
.sec-main-part section .projects-item-list  li .project-item-hover-block .project-item-hover-block-container a:hover{
    color: #FB565A;
}

.sec-main-part section .projects-item-list  li .project-item-hover-block .project-item-hover-block-container a:active{
    opacity: 0.3;
    mix-blend-mode: normal;
}
.sec-main-part section .projects-item-list  li .project-item-hover-block .project-item-hover-block-container p{
    margin:0;
    padding: 0;
    margin-bottom: 32px;
    max-width: 255px;
    display: inline-block;
}

.sec-main-part section .projects-item-list .project-item:hover{
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.sec-main-part section .projects-item-list .project-item:hover .project-item-controls{
    opacity: 1;
}

.sec-main-part section .projects-item-list .project-item:hover .project-item-hover-block{
    display: block;
}


.sec-main-part section .sort-container{
    padding-top: 55px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sec-main-part section .sort-container-inner{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sec-main-part section .sort-container h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sec-main-part section .sort-container ul li .sort-down{
    padding: 9px;
}
.sec-main-part section .sort-container ul li .sort-up{
    padding: 9px;
}

.sec-main-part section .sort-container ul li .sort-type {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    opacity: 0.3;
}

.sec-main-part section .sort-container ul li .sort-btn {
    line-height: 30px;
}

.sec-main-part section .sort-container ul li .active{
    opacity: 1;
}

.sec-main-part section .sort-container ul li .sort-by-price{
    margin-right: 25px;
}

.sec-main-part section .sort-container ul li .sort-by-type{
    margin-right: 26px;
}
.sec-main-part section .sort-container ul li .sort-by-name{
    margin-right: 38px;
}





.sec-main-part section .pagination ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.sec-main-part section .pagination ul li a{
    text-decoration: none;
    color: #000000;
    text-transform: uppercase;
    line-height: 18px;
    line-height: 50px;
    font-weight: bold;
}
.sec-main-part section .pagination ul li {
    text-align: center;
    background: #EEEEEE;
    border-radius: 3px;
    border: 0;
}

.sec-main-part section .pagination ul li:hover{
    background: #DFDFDF;
}
.sec-main-part section .pagination ul li:active{
    background: #D5D5D5;
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.sec-main-part section .pagination ul li:not(.next-page){
    height: 50px;
    width: 50px;
    margin-right: 11px;
}
.sec-main-part section .pagination ul .next-page{
    width: 260px;
}
/*Catalog main part END*/


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}


.filter-price{
    margin: 0;
    padding: 0;
    border: 0
}

.range-filter{
    width: 260px;
    margin-top:49px;
}

.filter-price legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.range-contols {
    position: relative;
    height: 80px;
    background-color: #EEEEEE;
    border-radius: 3px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-left: 22px;
    padding-right: 22px;
}
.range-contols .scale {
    height: 2px;
    background: #D7DCDF;;
}
.range-contols .bar {
    background: #00CA74;
    height: 2px;
    width: 70%;
}
.range-contols .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid #FFFFFF;
    border-radius: 50%;
    background-color: #ABABAB;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

}
.range-contols .toggle-min {
    left: 10px;
}
.range-contols .toggle-max{
    left: 160px;
}

.price-controls{
    display: flex;
    justify-content: space-between;

}

.price-controls label{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.price-controls input{
    width: 80px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: #283136;
    border: none;
    border-radius: 3px;
    background: #EEEEEE;
    font-family: inherit;
    font-size: inherit;
}



.choose-grid{
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 54px;
}
.choose-grid legend {
     font-size: 18px;
     line-height: 30px;
     text-transform: uppercase;
     font-weight: bold;
 }
.choose-grid ul {
    list-style: none;
    margin: 0;
    padding-top: 13px;
    padding-left: 0;
}
.choose-grid ul li:not(:last-child) {
    margin-bottom: 15px;
}
.choose-grid ul li label {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    color: #283136;
    cursor: pointer;
    padding-left: 36px;
}


.choose-grid ul li input {
    display: none;

}

.choose-grid ul li label:before{
    content: "";
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../img/radio-off.png) 0 0 no-repeat;
}

.choose-grid ul li label:hover::before{
    background: url(../img/radio-off-hover.png) 0 0 no-repeat;
}

.choose-grid ul li label:disabled::before{
    background: url(../img/radio-off-disabled.png) 0 0 no-repeat;
}

.choose-grid input[type=radio]:checked + label:before {
    background: url(../img/radio-on.png) 0 0 no-repeat;
}
.choose-grid input[type=radio]:hover:checked + label:hover:before {
    background: url(../img/radio-on-hover.png) 0 0 no-repeat;
}

.choose-grid input[type=radio]:disabled:checked + label:disabled:before {
    background: url(../img/radio-on-disabled.png) 0 0 no-repeat;
}




.features {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 43px;
    padding-bottom: 48px;
}
.features legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
}

.choose-grid ul li label {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    color: #283136;
    cursor: pointer;
    padding-left: 36px;
}




.features ul li input {
    display: none;
}

.features ul li label{

    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    color: #283136;
    cursor: pointer;
    padding-left: 36px;
}
.features ul li:not(:last-child) {
    margin-bottom: 17px;
}

.features ul li label::before{
    content: "";
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../img/checkbox-off.png) 0 0 no-repeat;
}

.features ul li label:hover::before{
    background: url(../img/checkbox-off-hover.png) 0 0 no-repeat;
}

.features ul li label:disabled::before{
    background: url(../img/checkbox-on-disabled.png) 0 0 no-repeat;
}

.features input[type=checkbox]:checked + label:before {
    background: url(../img/checkbox-on.png) 0 0 no-repeat;
    width: 26px;
}

.features input[type=checkbox]:hover:checked + label:hover:before {
    background: url(../img/checkbox-on-hover.png) 0 0 no-repeat;
}

.features input[type=checkbox]:disabled:checked + label:disabled:before {
    background: url(../img/checkbox-on-disabled.png) 0 0 no-repeat;
}