/*Fonts*/
@font-face {
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Regular.ttf') format('ttf');
    font-style : normal;
    font-weight : normal;
}
@font-face {
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Bold.ttf') format('truetype');
    font-style : normal;
    font-weight : bold;
}
@font-face {
    font-family : 'Roboto';
    src : url('../fonts/Roboto-Italic.ttf') format('truetype');
    font-style : italic;
    font-weight : normal;
}
/*Fonts END*/

/*Common*/
:root {
    --basic-black: #000000;
    --basic-white: #ffffff;
    --basic-red-one: #FB565A;
    --basic-red-two: #E74246;
    --basic-red-three: #D7373B;
    --basic-green-one: #00CA74;
    --basic-green-two: #00BC6C;
    --basic-green-three: #00AA62;
    --basic-yellow-one: #EFC849;
    --basic-yellow-two: #EAB534;
    --basic-yellow-three: #E5A722;
    --basic-grey-one: #DFDFDF;
    --basic-grey-two: #D5D5D5;
    --basic-e: #EEEEEE;
    --basic-popup-text-color: #666666;
    --basic-another-text-color: #283136;
}

*, *:before, *:after {
    box-sizing: border-box;
}
html{
    height: 100%;
}
body{
    font-family: 'Roboto', sans-serif;
    min-height: 100%;
    display: grid;
    grid-template-rows: min-content 1fr min-content ;
    align-content: start;
    font-weight: 500;
    font-size: 16px;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
}
.block-separator {
    height: 2px;
    background-color: var(--basic-e);
    border: 0;
    max-width: 1158px;
    margin: 0 auto;
}
/*Common END*/

/*Header*/
.page-header {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    background-color: var(--basic-e);
}
.page-header .page-header__logo:active img{
    opacity: 0.372;
}

.page-header nav{
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 140px;
    padding-left: 140px;
    justify-content: space-between;
    padding-top: 49px;
}
.page-header nav ul {
    display: flex;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    flex-direction: row;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    padding: 0;
}
.page-header ul {
    list-style: none;
}
.page-header ul li a{
    line-height: 30px;
    text-decoration: none;
    text-transform: uppercase;
    color: var(--basic-black);
    font-weight: bold;
}
.page-header ul li a.active{
    padding-bottom: 13px;
    border-bottom: 2px solid var(--basic-red-one);
}
.page-header ul li a:hover{
    color: var(--basic-red-one);
}
.page-header ul li a:active{
    mix-blend-mode: normal;
    opacity: 0.3;
}
.page-header nav .site-menu{
    width: 438px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.basket-block li a img{
    margin-right: 25px;
}
/*Header END*/


/*Our services*/
.sec-our-services {
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 140px;
    padding-right: 200px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sec-our-services ul{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}
.sec-our-services ul li:before{
    width: 300px;
    height: 146px;
    content: '';
    display: block;
}
.sec-our-services ul li{
    width: 300px;
}
.sec-our-services ul li h3{
    font-size: 24px;
    line-height: 30px;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 25px;
    margin-bottom: 16px;
}
.sec-our-services ul li p{

    margin-bottom: 32px;
}
.apps:before{
    background-image: url(../img/illustration-3.png);
}
.presentations:before{
    background-image: url(../img/illustration-2.png);
}
.web-sites:before{
    background-image: url(../img/illustration-1.png);
}
/*Our services END*/

/*Buttons*/
.btn{
    width: 160px;
    min-height: 50px;
    border: none;
    border-radius: 3px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 500;
    font-size: inherit;
    line-height: 18px;
    font-style: normal;
    color: var(--basic-white);
}
.btn-submit{
    width: 260px;
    border-radius: 3px;
    line-height: 18px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    height: 50px;
}
.btn-red{
    background-color: var(--basic-red-one);
}
.btn-red:hover{
    background-color: var(--basic-red-two)
}
.btn-red:active{
    background: var(--basic-red-three);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-green{
    background-color: var(--basic-green-one);
}
.btn-green:hover{
    background-color: var(--basic-green-two);
}
.btn-green:active{
    background: var(--basic-green-three);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-yellow{
    background-color: var(--basic-yellow-one);
}
.btn-yellow:hover{
    background-color: var(--basic-yellow-two);
}
.btn-yellow:active{
    background: var(--basic-yellow-three);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-grey{
    background-color: var(--basic-e);
}
.btn-grey:hover{
    background: var(--basic-grey-one);
}
.btn-grey:active{
    background: var(--basic-grey-two);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.btn-right-us{
    width: 219px;
}
.btn-price{
    width: 200px;
}
.btn-know-more{
    width: 240px;
}
.btn-link{
    display: block;
    line-height: 50px;
    text-decoration: none;
    cursor: pointer;
}
/*Buttons END*/

/*Projects-links*/
.sec-projects-links{
    padding-left: 172px;
    padding-right: 183px;
    padding-top: 46px;
    padding-bottom: 44px;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sec-projects-links ul{
    max-width: 1085px;
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.sec-projects-links ul li img{
     opacity: 0.2;
}
.sec-projects-links ul li img:hover{
    opacity: 1;
}
.sec-projects-links ul li img:active{
    opacity: 0.1;
}
.sec-projects-links ul .separator{
    display: block;
    width: 2px;
    height: 52px;
    background-color: var(--basic-e);
}
/*Projects-links END*/

/*What we are*/
.sec-what-we-are{
    display: flex;
    flex-direction: row;
    padding-left: 140px;
    padding-right: 126px;
    padding-top: 39px;
    padding-bottom: 73px;
    justify-content: space-between;
    max-width: 1440px;
    margin: 0 auto;
    width: 100%;
}
.sec-what-we-are .right-block-info{
    width: 374px;
}
.right-block-info ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0;
}
.right-block-info ul li span sup {
    font-size: 26px;
    line-height: 40px;
    color: var(--basic-black);
    font-weight: bold;
}
.right-block-info .percent{
    font-size: 45px;
    line-height: 64px;
    font-weight: bold;
}
.right-block-info ul li label{
    line-height: 18px;
    color: var(--basic-another-text-color);
    font-size: 16px;
}
.right-block-info p {
    margin-top: 37px;
    color: var(--basic-black);
    font-size: 16px;
    line-height: 24px;
    font-weight: bold;
    padding-left: 7px;
}
.left-block-info h3{
    margin-bottom: 23px;
}
.left-block-info ul{
    max-width: 431px;
    padding: 0;
}
.left-block-info ul li {
    background: url('../img/pointer.png') no-repeat left;
    padding-left: 37px;
    list-style: none;
    margin: 0;
    margin-bottom: 20px;
}
.left-block-info h2{
    font-weight: 500;
    font-size: 45px;
    line-height: 45px;
    margin-bottom: 32px;
    width: 651px;
    height: 91px;
}
.left-block-info p{
    font-size: 16px;
    line-height: 24px;
    color: var(--basic-another-text-color);
    margin-bottom: 40px;
    width: 646px;
    height: 49px;
}
/*What we are END*/

/*Main banner*/
.sec-main-banner{
    min-height: 431px;
    height: auto;
    background-color: var(--basic-e);
}
.main-slider{
    max-width: 1157px;
    margin: 0 auto;
    padding: 0;
}
.main-slider li{
    display: flex;
    flex-direction: row;
}

.main-slider li.hide{
    display: none;
}

.main-slider .start-home__message{
    width: 397px;
    padding-top: 78px;
    padding-bottom: 80px;
    height: 100%;
}
.main-slider .start-home__message h1{
    font-size: 55px;
    line-height: 55px;
    margin: 0;
    width: 538px;
}
.main-slider .start-home__message p{
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 25px;
    margin-bottom: 38px;
}
.slide-switcher{
    margin: 0 auto;
    width: 88px;
    padding: 0;
    justify-content: space-between;
    margin-top: -96px;
}
.slide-switcher{
    list-style: none;
    flex-direction: row;
    display: flex;
}
.slide-switcher li{
    position: relative;
    height: 18px;
    width: 18px;
    border-radius: 50%;
    background-color: var(--basic-white);
}
.slide-switcher li.selected::before{
    position: absolute;
    content: '';
    top: 5px;
    left: 5px;
    height: 8px;
    width: 8px;
    border: 2px solid #C1C1C1;
    border-radius: 50%;
    background: var(--basic-white);
}
/*Main banner END*/

/*map*/
.map-container{
    width: 100%;
    height: 416px;
}
.sec-map {
    margin-top: 80px;
    position: relative;
}
.popup-map {
    top: 54px;
    left: 140px;
    position: absolute;
    width: 319px;
    height: 308px;
    background-color: var(--basic-white);
    font-size: 16px;
    padding-left: 50px;
    padding-top: 49px;
    padding-right: 39px;
}
.popup-map h3{
    font-size: 18px;
    line-height: 30px;
    color: var(--basic-black);
    padding: 0;
    margin: 0;
}
.popup-map p{
    color: var(--basic-popup-text-color);
    font-size: inherit;
    margin-top: 23px;
    margin-bottom: 19px;
}
.popup-map .call-us{
    margin-bottom: 37px;
    display: inline-block;
    text-decoration: none;
    color: var(--basic-popup-text-color);
}
/*map END*/

/*Popup*/
.sec-popup{
    width: 960px;
    height: 590px;
    position: absolute;
    padding-top: 63px;
    display: none;
    top: 1706px;
    left: 0;
    right: 0;
    margin: auto;
    padding-bottom: 84px;
    background-color: var(--basic-white);
    box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.4);
}

.sec-popup.catalog{
    top: 2500px;
}

.popup-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.popup-header h2{
    font-weight: bold;
    font-size: 45px;
    line-height: 53px;
    margin: 0;
    padding: 0;
}

.popup-header .popup-close-btn-container{
    display: flex;
    align-items: center;
    margin-right: -10px;
}

.popup__inner{
    margin: 0 auto;
    width: 761px;
    height: 353px;
}

.popup__inner form .form__group_item{
    display: flex;
    flex-direction: column;
}

.popup__inner form .form__group_item input.invalid{
    border: 2px solid var(--basic-red-two);
    color: var(--basic-red-two);
}

.popup__inner form .form__group .form__group_item{
    width: 360px;
}

.popup__inner form .form__group_item textarea{
    height: 118px;
    border: 2px solid #D7DCDE;
    border-radius: 3px;
    padding: 16px;
    color: #444444;
}

.popup__inner form .form__group_item textarea.invalid{
    border: 2px solid var(--basic-red-two);
    color: var(--basic-red-two);
}

.popup__inner form .form__group_item .form__label{
    font-weight: bold;
    font-size: 16px;
    line-height: 18px;
    margin-bottom: 9px;
}

.popup__inner form .form__group{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 34px;
    margin-top:37px;
}
.popup__innerform .form__group .form__group_item{
    width: 360px;
}
.popup__inner form .form__group .form__group_item input {
    display: inline-block;
    height: 50px;
    padding: 16px;
    border: 2px solid #D7DCDE;
    border-radius: 3px;
    width: 100%;
    vertical-align: auto;
}
.popup__inner form  .btn-submit{
    margin-top: 47px;
}


.icon-close::before {
    transform: translateX(-50%) rotate3d(0,0,1,45deg);
}
.icon-close::after {
    transform: translateX(-50%) rotate3d(0,0,1,-45deg);
}
.icon-close::after, .icon-close::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 21px;
    height: 3px;
    background-color: var(--basic-red-one);
    opacity: 0.3;
    transform-origin: 50% 50%;
}
.icon-close:hover:after, .icon-close:hover:before{
    opacity: 1;
}
.icon-close:active:after, .icon-close:active:before{
    opacity: 0.1;
}
.icon-close {
    width: 21px;
    height: 21px;
    padding: 0;
    font-size: 0;
    background: 0 0;
    border: 0;
}
.modal__close {
    position: relative;
    z-index: 2;
}
/*Popup END*/

/*Footer*/
.page-footer{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    flex-wrap: wrap;
    padding-left: 140px;
    padding-right: 240px;
    padding-top: 68px;
    padding-bottom: 68px;
    justify-content: space-between;
}

footer .page-footer__inner_text{
    max-width: 660px;
}

.page-footer__inner_text h2{
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 10px;
    margin-top: 0;
}

.page-footer  ul{
    padding: 0;
    margin: 0;
    list-style: none;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
}
.page-footer ul li{
    width: 81px;
    height: 81px;
    margin-right: 9px;
    background: linear-gradient(0deg, #E1E1E1, #E1E1E1), var(--basic-white);
    border-radius: 50%;
}
.page-footer ul li:hover{
    background: linear-gradient(0deg, var(--basic-red-two), var(--basic-red-two)), var(--basic-white);
}
.page-footer ul li:active{
    background: linear-gradient(0deg, var(--basic-red-three),  var(--basic-red-three)), var(--basic-white);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.page-footer ul .insta-icon{
    padding: 30px;
}
.page-footer ul .vk-icon{
    padding: 33px 28px 33px 27px;
}
.page-footer ul .fb-icon{
    padding: 31px 34px 28px 35px;
}
.page-footer ul li a {
    position: absolute;
}
/*Footer END*/

/*Head title*/
.sec-head-title{
    background-color: var(--basic-e);
    padding-bottom: 108px;
    padding-top: 78px;
    text-align: center;
}
.sec-head-title h1{
    margin: 0;
    font-size: 55px;
    line-height: 55px;
}
/*Head title END*/

/*Catalog main part*/
.sec-main-part{
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
    padding-right: 140px;
    padding-left: 140px;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -o-flex-direction: row;
    flex-direction: row;
    flex-direction: row;
    padding-bottom: 60px;
}

.sec-main-part aside{
    max-width: 260px;
    padding-top: 55px;
    height: 100%;
}
.sec-main-part section{
    max-width: 760px;
    width: 100%;
    margin-left: 140px ;
}

.projects-item-list .project-item{
    margin-bottom: 30px;
    position: relative;
}

.projects-item-list{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.projects-item-list .project-item:nth-child(odd) {
    margin-right: 40px;
}

.projects-item-list  .project-item .project-item-controls {
    height: 40px;
    background: #4D4D4D;
    opacity: 0.12;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.projects-item-list  .project-item .project-item-controls ul {
    list-style: none;
    margin: 0;
    display: flex;
    flex-direction: row;
    padding-top: 13px;
    padding-bottom: 13px;
    padding-left: 16px;
}
.projects-item-list  .project-item .project-item-controls ul li a{
    height: 14px;
    width: 14px;
    border-radius: 50%;
    display: block;
    margin-right: 9px;
    background-color: var(--basic-white);
}
.projects-item-list  .project-item.active .project-item-controls {
    opacity: 1;
}

.project-item-hover-block {
    position: absolute;
    min-height: 231px;
    width: 360px;
    bottom: 0;
    left: 0;
    padding-top: 26px;
    padding-bottom: 44px;
    background: var(--basic-e);
    text-align: center;
    display: none;
}

.project-item-hover-block .project-item-hover-block-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.project-item-hover-block .project-item-hover-block-container a{
    margin:0;
    padding: 0;
    margin-bottom: 12px;
    text-decoration: none;
    color: var(--basic-black);
    font-weight: bold;
}
.project-item-hover-block .project-item-hover-block-container a:hover{
    color: var(--basic-red-one);
}

.project-item-hover-block .project-item-hover-block-container a:active{
    opacity: 0.3;
    mix-blend-mode: normal;
}
.project-item-hover-block .project-item-hover-block-container p{
    margin:0;
    padding: 0;
    margin-bottom: 32px;
    max-width: 255px;
    display: inline-block;
    vertical-align: auto;
}

.projects-item-list .project-item:hover{
    box-shadow: 0px 6px 15px rgba(0, 1, 1, 0.25);
}

.projects-item-list .project-item:hover .project-item-controls{
    opacity: 1;
}

.projects-item-list .project-item:hover .project-item-hover-block{
    display: block;
}

.sort-container{
    padding-top: 55px;
    padding-bottom: 48px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sort-container-inner{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    margin: 0;
}

.sort-container h3{
    padding: 0;
    margin: 0;
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
}

.sort-container ul li .sort-down{
    padding: 9px;
}
.sort-container ul li .sort-up{
    padding: 9px;
}

.sort-container ul li .sort-type {
    font-size: 14px;
    line-height: 30px;
    text-transform: uppercase;
    text-decoration: none;
    color: inherit;
    opacity: 0.3;
}

.sort-container ul li .sort-type:hover{
    opacity: 0.6;
}

.sort-container ul li .sort-type:active{
    opacity: 1;
}

.sort-container ul li .sort-btn {
    line-height: 30px;
}

.sort-container ul li .sort-btn:hover{

}

.sort-container ul li .active{
    opacity: 1;
}

.sort-container ul li .sort-by-price{
    margin-right: 25px;
}

.sort-container ul li .sort-by-type{
    margin-right: 26px;
}
.sort-container ul li .sort-by-name{
    margin-right: 38px;
}




.pagination ul {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}
.pagination ul li a{
    text-decoration: none;
    color: var(--basic-black);
    text-transform: uppercase;
    line-height: 18px;
    line-height: 50px;
    font-weight: bold;
}
.pagination ul li {
    background: var(--basic-e);
    border-radius: 3px;
    border: 0;
}

.pagination ul li:hover{
    background: var(--basic-grey-one);
}
.pagination ul li:active{
    background: var(--basic-grey-two);
    box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
.pagination ul li:not(.next-page){
    height: 50px;
    min-width: 50px;
    margin-right: 11px;
    padding-left: 20px;
    padding-right: 20px;
}
.pagination ul .next-page{
    width: 260px;
    text-align: center;
}
/*Catalog main part END*/


.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0,0,0,0);
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
}

/* Catalog Filter */
.filter-price{
    margin: 0;
    padding: 0;
    border: 0
}

.range-filter{
    width: 260px;
    margin-top:49px;
}

.filter-price legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.range-controls {
    position: relative;
    height: 80px;
    background-color: var(--basic-e);
    border-radius: 3px;
    margin-bottom: 14px;
    padding-top: 39px;
    padding-left: 22px;
    padding-right: 22px;
}
.range-controls .scale {
    height: 2px;
    background: #D7DCDF;;
}
.range-controls .bar {
    background: var(--basic-green-one);
    height: 2px;
    width: 70%;
}
.range-controls .toggle{
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    padding: 0;
    border: 8px solid var(--basic-white);
    border-radius: 50%;
    background-color: #ABABAB;
    box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.15);
    cursor: pointer;

}
.range-controls .toggle-min {
    left: 10px;
}
.range-controls .toggle-max{
    left: 160px;
}

.price-controls{
    display: flex;
    justify-content: space-between;

}

.price-controls label{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}
.price-controls input{
    width: 80px;
    padding: 10px;
    margin-left: 10px;
    text-align: center;
    color: var(--basic-another-text-color);
    border: none;
    border-radius: 3px;
    background: var(--basic-e);
    font-family: inherit;
    font-size: inherit;
}
.price-controls input::-webkit-outer-spin-button,
.price-controls input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.choose-grid{
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 54px;
}
.choose-grid legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.choose-grid ul {
    list-style: none;
    margin: 0;
    padding-top: 13px;
    padding-left: 0;
}
.choose-grid ul li:not(:last-child) {
    margin-bottom: 15px;
}
.choose-grid ul li label {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 25px;
    color: var(--basic-another-text-color);
    cursor: pointer;
    padding-left: 36px;
    vertical-align: auto;
}

.choose-grid ul li input {
    display: none;

}

.choose-grid ul li label:before{
    content: '';
    display: inline-block;
    width: 25px;
    height: 25px;
    position: absolute;
    vertical-align: auto;
    left: 0;
    bottom: 1px;
    background: url(../img/radio-off.png) 0 0 no-repeat;
}

.choose-grid ul li label:hover::before{
    background: url(../img/radio-off-hover.png) 0 0 no-repeat;
}

.choose-grid ul li label:disabled::before{
    background: url(../img/radio-off-disabled.png) 0 0 no-repeat;
}

.choose-grid input[type=radio]:checked + label:before {
    background: url(../img/radio-on.png) 0 0 no-repeat;
}
.choose-grid input[type=radio]:hover:checked + label:hover:before {
    background: url(../img/radio-on-hover.png) 0 0 no-repeat;
}

.choose-grid input[type=radio]:disabled:checked + label:disabled:before {
    background: url(../img/radio-on-disabled.png) 0 0 no-repeat;
}

.features {
    margin: 0;
    padding: 0;
    border: 0;
    margin-top: 43px;
    padding-bottom: 48px;
}
.features legend {
    font-size: 18px;
    line-height: 30px;
    text-transform: uppercase;
    font-weight: bold;
}
.features ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-top: 14px;
}

.choose-grid ul li label {
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-another-text-color);
    cursor: pointer;
    padding-left: 36px;
    vertical-align: auto;
}

.features ul li input {
    display: none;
}

.features ul li label{
    display: inline-block;
    position: relative;
    font-size: 16px;
    line-height: 23px;
    color: var(--basic-another-text-color);
    cursor: pointer;
    padding-left: 36px;
    vertical-align: auto;
}
.features ul li:not(:last-child) {
    margin-bottom: 17px;
}

.features ul li label::before{
    content: '';
    display: inline-block;
    width: 23px;
    height: 23px;
    position: absolute;
    left: 0;
    bottom: 1px;
    background: url(../img/checkbox-off.png) 0 0 no-repeat;
    vertical-align: auto;
}

.features ul li label:hover::before{
    background: url(../img/checkbox-off-hover.png) 0 0 no-repeat;
}

.features ul li label:disabled::before{
    background: url(../img/checkbox-on-disabled.png) 0 0 no-repeat;
}

.features input[type=checkbox]:checked + label:before {
    background: url(../img/checkbox-on.png) 0 0 no-repeat;
    width: 26px;
}

.features input[type=checkbox]:hover:checked + label:hover:before {
    background: url(../img/checkbox-on-hover.png) 0 0 no-repeat;
}

.features input[type=checkbox]:disabled:checked + label:disabled:before {
    background: url(../img/checkbox-on-disabled.png) 0 0 no-repeat;
}
/* Catalog Filter */

